@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "header.scss";

// Обнуление: общие параметры
@import "null.scss";

// Миксины
@import "mixins.scss";

body {
	font-family: Inter;
	font-style: normal;
	color: #18216d;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	border: 2px solid red;
	position: relative;
}

.button {
	&__downlaod {
		width: 136px;
		height: 52px;
		background: #18216d;
		border-radius: 6px;
		color: #ffffff;
		font-weight: 500;
		font-size: 17px;
		line-height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
