@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "header.scss";
@import "presentation.scss";

// Обнуление: общие параметры
@import "null.scss";

// Миксины
@import "mixins.scss";

body {
	font-family: Inter;
	font-style: normal;
	color: #18216d;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	border: 2px solid red;
	position: relative;
}

.button {
	border-radius: 6px;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s linear 0s;

	&__downlaod {
		width: 136px;
		height: 52px;
		background: #18216d;
		color: #ffffff;
	}

	&__presentation {
		background: #00ecd0;
		width: 180px;
		height: 66px;
		color: #18216d;
	}

	&:hover {
		box-shadow: 5px 5px 6px rgb(0 0 0 / 30%);
		opacity: 0.8;
	}
}
